<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Form</title>
    <link rel="stylesheet" href="/form.css">
</head>
<body>
    <div>
        <h1>Search From User And To User</h1>
    <form method="post" action="/chats/searchChats">
        <label for="from">From</label>
        <input type="text" id="fname" name="from" placeholder="enter from name">
        <label for="to">To</label>
        <input type="text" id="lname" name="to" placeholder="enter to name">
        <button>Search Chats</button>
    </form>
</div>
</body>
</html>